     H NOMAIN
     FCONFFILE  IF   E           K DISK    UsrOpn ExtFile(*ExtDesc)
     F                                     ExtDesc('${ds.fileName}')
     F                                     Rename(${ds.recordName}:CONFREC)

     D/COPY QRPGLESRC,${ds.fileName}P

     D dsRec           DS                  LikeRec(CONFREC:*INPUT)
     D dsKey_t         DS                  LikeRec(CONFREC:*KEY) Template
     D svKey           DS                  LikeRec(CONFREC:*KEY) inz

      //=======================================================================
     P OpenF_          B
      /free
            If not %Open(CONFFILE);
              Open CONFFILE;
            EndIF;
     P                 E
      //=======================================================================
     P CloseF_         B
      /free
           If %Open(CONFFILE);
             Close CONFFILE;
           EndIF;
           clear svKey;
     P                 E
      //=======================================================================
     P find_${ds.fileName}...
     P                 B                   Export
     D                 PI              N
     D  inKey                              Const LikeDS(dsKey_t)
      /free
            if inKey = svKey and svKey <> '';
              return '1'; // cached record will be used
            endif;

            openF_();
            chain inKey CONFREC dsRec;
            if not %found();
              clear dsRec;
              clear svRec;
            else;
              svKey = inKey;//cache the record
            endif;
            return %found();
     P                 E

#foreach ($f in $ds.fields)
      //=======================================================================
     P get_${f.name}_${ds.fileName}...
     P                 B                   Export
     D                 PI                  Like(dsRec.${f.name})
      /free
            return dsRec.${f.name};
     P                 E
#end
